<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SleekForum</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
      <div>
          <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="../">
              <div id="nav-header">
                <img src="kidaha-07.svg" alt="sleekmonster" id="sleekmonster">
                BCM2020
              </div>
            </a>
          </nav>
      </div>
      <div class="container">
          <p>The user has been modified.</p>
          <p><a href="/thread/{{hype}}">Click here to go back.</a></p>
      </div>
  </body>
</html>