#navbar {
    display: flex;
}
#navbar > * {
    display: flex;
}
.nav-link {
    color: red !important;
}
#nav-header {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}
#sleekmonster {
    max-width: 85px;
}

    .forum-item {
      margin: 10px 0;
      padding: 10px 0 20px;
      border-bottom: 1px solid #f1f1f1;
    }
    .forum-container,
    .forum-post-container {
      padding: 30px !important;
    }
    .forum-item .forum-sub-title {
      color: #999;
      margin-left: 50px;
    }
    .forum-title {
      margin: 15px 0 15px 0;
    }
      a.forum-item-title {
      color: inherit;
      display: block;
      font-size: 18px;
      font-weight: 600;
    }
    a.forum-item-title:hover {
      color: inherit;
    }

  .card-title {
    font-size: 60px;
    padding-top: 75px;
  }
  .card-text {
    font-size: 20px;
    padding: 25px;
  }
  .sanity {
    font-family: 'Luckiest Guy', cursive;
    font-size: larger;
  }
  .myStyle {
    color: red;
  }

  .card-img-overlay {
  border: none;
  }
  .buttonBorder{
    border: 5px;
    border-color: black;
  }
